{% extends 'student/studentindex.html' %}

{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/myapp/changepasswod_post/" method="post"><table  class="table table-bordered">
    {% csrf_token %}
  <tr>
    <th>Current password</th>
    <td>
      <input type="text" required name="textfield" id="textfield" class="form-control"/></td>
  </tr>
  <tr>
    <th>New password</th>
    <td>
      <input type="text" required name="textfield2" id="textfield2" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" /></td>
  </tr>
  <tr>
    <th>Confirm password</th>
    <td>
      <input type="text" required name="textfield3" id="textfield3" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/></td>
  </tr>
  <tr align="center">

    <td colspan="2"><input type="submit" name="button" id="button" value="Change" class="btn btn-success"/></td>
  </tr>
</table>
</form>
</body>
</html>
{% endblock %}