{% extends 'student/studentindex.html' %}

{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="/myapp/addstudent_post/">
    {% csrf_token %}
  <table  class="table table-bordered">
    <tr>
      <th>Name</th>
      <td>{{ data.Name }}</td>
    </tr>
    <tr>
      <th>Course</th>
      <td>{{ data.COURSE.CourseName }}&nbsp;</td>
    </tr>
    <tr>
      <th>Image</th>
      <td><img src="{{ data.Image }}" height="100px" width="100px"></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td>{{ data.Gender }}</td>

    </tr>
    <tr>
      <th>DOB</th>
      <td>{{ data.DOB }}</td>
    </tr>
    <tr>
      <th>Pin</th>
      <td>{{ data.Pin }}</td>
    </tr>
    <tr>
      <th>Post</th>
        <td>{{ data.Post }}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{{ data.Phone }}</td>
    </tr>
    <tr>
      <th>House Name</th>
      <td>{{ data.HouseName }}</td>
    </tr>
    <tr>
      <th>Place</th>
      <td>{{ data.Place }}</td>
    </tr>
    <tr>
      <th>Parent Name</th>
      <td>{{ data.ParentName }}</td>
    </tr>
    <tr>
      <th>Parent Phone</th>
      <td>{{ data.ParentPhone }}</td>
    </tr>
{#    <tr align="center">#}
{##}
{#      <td colspan="2"><input type="submit" name="submit" id="submit" value="Submit" class="btn btn-success"/></td>#}
{#    </tr>#}
  </table>
</form>
</body>
</html>
{% endblock %}