<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/changepassword/">changepassword</a><br>
<a href="/myapp/adddepartment/">adddepartment</a><br>
<a href="/myapp/viewdepartment/">viewdepartment</a><br>

<a href="/myapp/addcourse/">addcourse</a><br>
<a href="/myapp/viewcourse/">viewcourse</a><br>

<a href="/myapp/addsubject/">addsubject</a><br>
<a href="/myapp/viewsubject/">viewsubject</a><br>

<a href="/myapp/addstudent/">addstudent</a><br>
<a href="/myapp/viewstudent/">viewstudent</a><br>

<a href="/myapp/addtimetable/">addtimetable</a><br>
<a href="/myapp/viewtimetable/">viewtimetable</a><br>
<a href="/myapp/attendancereport/">attendancereport</a><br>
</body>
</html>