{% extends 'admin/adminindex.html' %}

{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="pull-left">
    <tr>
      <th>from   &nbsp;</th>
      <td><input type="date" name="textfield1" id="textfield1" class="form-control"/></td>
      <th> &nbsp;to    &nbsp;</th>
      <td><input type="date" name="textfield2" id="textfield2"  class="form-control" /></td>
      <td><input type="submit" name="search" id="search" value="search" class="btn btn-success" /></td>
    </tr>
  </table>
  <table  class="table table-bordered">
    <tr>
      <th>SLNO</th>
      <th>Student Name</th>
      <th>Date</th>
      <th>Attendence</th>
      <th>Hour</th>
     </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.STUDENT.Name }}</td>
      <td>&nbsp;{{ i.Date }}</td>
      <td>&nbsp;{{ i.Attendance }}</td>
      <td>&nbsp;{{ i.Hour }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}