{% extends 'admin/adminindex.html' %}

{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/editepartment_post/">
    {% csrf_token %}
  <table  class="table table-bordered">
    <tr>
      <th>Edit Department</th>
      <td>
      <input type="text" required value="{{ data.DepartmentName }}" name="textfield" id="textfield" class="form-control"/>
      <input type="hidden" value="{{ data.id }}" name="id" id="id" />
      </td>
    </tr>
    <tr align="center">

      <td colspan="2"><input type="submit" name="button" id="button" value="Submit" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}