{% extends 'admin/adminindex.html' %}

{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/myapp/viewdepartment_post/" method="post"><table class="pull-left">
    {% csrf_token %}
  <tr>
    <td>
      <input type="text" name="textfield" id="textfield" placeholder="search with name" class="form-control"/></td>
    <td><input type="submit" name="button" id="button" value="Search" class="btn btn-success"/></td>
  </tr>

</table>
<br>
  <table  class="table table-bordered">
    <tr>
      <th>SLNO</th>
      <th>Department name</th>
      <td></td>
      <td>&nbsp;</td>
    </tr>
      {% for i in data %}

    <tr>
      <td width="50px">{{ forloop.counter }}</td>
      <td>{{ i.DepartmentName }}</td>
      <td width="50px"><a href="/myapp/editdepartment/{{ i.id }}#grids-3"class="btn btn-success">Edit</a></td>
      <td width="50px"> <a href="/myapp/deletedepartment/{{ i.id }}"class="btn btn-danger" onclick="return confirm('Are you delete')" >Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}